body{
    background:url(assets/destaque.jpg) no-repeat;
    background-size: cover;
    height: 200px;
    background-position: center;
}
.header{
    width: 100%;
    background-color: rgba(0,0,0,.2);

}